<%- include('Header'); -%>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Download certificates</h5>
            <form class="form-signin" method="POST" action="/genpdf">
              <div class="form-label-group">
                <label for="inputid">Enter Your Credential Id</label>
                <div class="form-text">Use coma (,) to enter multiple Credential Id.</div>
                <textarea class="form-control" name="Credential" rows="3"></textarea>
              </div>

              <div class="custom-control custom-checkbox mb-3 my-4 text-center">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
              
              <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="Bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
