<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
<!-- Bootstrap CSS -->
    <link href="Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
</head>

<body>
<!-- your content here... -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Accredible</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
		<a class="nav-link" href="/genpdf">Download Certificate</a>
		<a class="d-flex navbar-nav nav-link" href="/edit">Profile</a>
      </div>
    </div>
      
  </div>
</nav>
<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Accredible </h1>
      <p class="lead fw-normal">Accredible is one of the only platforms available that is a full service digital credentialing solution. Certificates, diplomas, badges, blockchain credentials, and wallet cards - all in one place.</p>
      <a class="btn btn-outline-secondary" href="/genpdf">Download PDF Certificate</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

</main>
<script src="Bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>